@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
body {
    font-family: "Prompt", sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

input[type="text"] {
    width: 60%;
    padding: 8px;
}

main {
    justify-content: center;
    padding: 1rem;
}

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.product-card img {
    max-width: 100%;
    height: auto;
    transform: scale(1.05);
}

.product-card h3 {
    font-size: 1.1em;
}

.product-card p {
    color: #888;
}

#product-list {
    display: flex; flex-wrap: wrap;
}

/* Loader Style*/
.loader {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 7%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #eafaf1 ;
    padding: 12px;
    border-radius: 8px;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid #82e0aa ;
    white-space: nowrap;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*Loader animation spinner*/
.loader::after {
    content: '';
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    animation: spin 1s linear infinite;
    margin: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* loader-message Style*/ 
.loader-message {
    display: none;
    position: fixed;
    left: 50%;
    top: 7%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.2rem;
    text-align: center;
    white-space: nowrap;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInScale 0.3s ease forwards, fadeOutScale 0.5s ease 1.5s forwards;
}

.loader-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #28a745;
}
.loader-message.failed {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #dc3545;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
    } to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fadeOutScale {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.9);
        visibility: hidden;
    }
}